<aside class="thanks">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-2">
        <h3>Thanks to</h3>
      </div>
      <div class="col-sm-4">
        <a href="https://uwaterloo.ca/graduate-house/">
          <img src="/static/img/logos/gradhouse.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="http://www.one2onephotography.ca/">
          <img src="/static/img/logos/one2one.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
    </div>
  </div>
</aside>
