{% macro hotel(name, pic, position, url) %}
<div class="col-sm-4">
  <div class="team-member">
    <img src="static/img/{{ pic }}.jpg" class="img-responsive img-circle" alt="">
    <h4>{{ name }}</h4>
    <p class="text-muted">{{ position }}</p>
    <a href="{{ url }}" class="btn btn-primary">More info</a>
  </div>
</div>
{% endmacro %}
<section id="logistics" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Logistics</h2>
        <p class="large text-muted">Last updated: February 13 (added parking information)</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-subheading">Time</h2>
      </div>
      <div class="col-md-8">
        <p class="large">We're morning people. We're having a late morning ceremony, followed by a lunch reception.</p>
        <p>The ceremony will commence at 11 am. Feel free to arrive at the Grad House any time after 10:30 am.</p>
        <p>The reception will take place directly after the ceremony, and will finish at 3 pm.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-subheading">Venue</h2>
      </div>
      <div class="col-md-8">
        <p class="large">We met at the University of Waterloo, and we're getting married at the University of Waterloo!</p>
        <p>While the U of W is home to over 28,000 students, February 17 falls on reading week, so campus will be quite sparse. Though, you may see some of the U of W's 3000 grad students, who may not realize it's reading week.</p>
        <p>Both the ceremony and reception will take place at the Grad House, on the south side of campus.</p>
      </div>
      <div class="col-md-12">
        <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Grad%20House%2C%20University%20of%20Waterloo&key=AIzaSyDeU-vPPUtqE8IhOYSKrgQDovIn2IeIAVg"></iframe>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 text-center">
        <h2 class="section-subheading">Parking</h2>
      </div>
      <div class="col-md-6">
        <img src="static/img/parking-wide.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
        <p class="large">There are two options for parking.</p>
        <p>The closest lot to the Grad House is lot HV (circled in the picture to the left. It is a paid lot; the cost is $2 per hour up to a maximum of $10.</p>
        <p>The University Plaza, to the east of Ring Road, also has ample parking at no charge. Note, however, that this parking is intended for Plaza customers only, so you may get a ticket if you head straight to campus.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-subheading">Directions</h2>
      </div>
      <div class="col-md-4">
        <img src="static/img/parking-zoomed.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-4">
        <p>If you're coming from lot HV, the most straightforward route is to cross Ring Road and go up the stairs to South Campus Hall (SCH). Enter and go straight through the building. When you exit, continue straight and the Grad House (GH) will be on your left.</p>
        <p>If you're coming from the Plaza, cross Ring Road, and take the path between Engineering 2 (E2) and Douglas Wright Engineering (DWE). When you reach a set of stairs, turn left and you should see the Grad House (GH). This path is entirely outside, so if you enter a building, you've gone astray!</p>
        <p>If you're coming by public transit, get off near University and Seagram, and follow the directions for lot HV.</p>
        <p>Note: the Google map above gives an incorrect location for the Grad House. This map is correct.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-subheading">Accomodations</h2>
      </div>
      <div class="col-md-8">
        <div class="row">
          {{ hotel("Comfort Inn", "comfortinn", "190 Weber Street North", "http://www.waterloocomfortinn.com/") }}
          {{ hotel("Delta", "delta", "110 Erb Street W", "https://www.deltahotels.com/Hotels/Delta-Waterloo") }}
          {{ hotel("AirBnB", "airbnb", "Many options available!", "https://www.airbnb.ca/s/Waterloo--ON?source=bb") }}
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-subheading">Attire</h2>
      </div>
      <div class="col-md-8">
        <p class="large">Formal!</p>
        <p>Note, however, that February 17 is very likely to be cold, so dress appropriately. A coat check will be provided, so please don't hesitate to bundle up!</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-subheading">Gifts</h2>
      </div>
      <div class="col-md-8">
        <p>Gifts are neither necessary nor expected.</p>
        <p>If, despite that, you still want to show your support for us through a gift, we humbly ask that you consider giving us a monetary gift rather than a physical item. As you may have noticed from above, we have moved a lot, and so we haven't been able to keep around many physical items. We will be moving to New Hampshire this year, so regrettably will once again have to leave behind more physical items than we'd like.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-subheading">Things to do</h2>
      </div>
      <div class="col-md-8">
        <p class="large">If you're not from the KW region, here are a few things you might want to check out while you're in town.</p>
        <ul>
          <li>Catch a movie at <a href="http://www.princesscinemas.com/">Princess Cinemas</a></li>
          <li>Rock climb at <a href="http://grandriverrocks.com/">Grand River Rocks</a></li>
          <li>Skate at one of many <a href="http://www.waterloo.ca/en/gettingactive/outdoorrinks.asp">outdoor rinks</a></li>
          <li>Take a walk through <a href="http://www.waterloo.ca/en/gettingactive/waterloopark.asp">Waterloo park</a></li>
          <li>Check out <a href="http://www.stjacobs.com/">St. Jacobs market</a> or the <a href="http://www.kitchenermarket.ca/en/vendors/saturday_farmers_market_vendors.asp">Kitchener farmers' market</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-subheading">Questions?</h2>
      </div>
      <div class="col-md-8">
        <p class="large">If you have any questions, big or small, please send us an email or call us!</p>
      </div>
    </div>
  </div>
</section>
