<section id="rsvp">
  <div class="container rsvp-bg">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Thank you for RSVPing!</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="large">
          We used the results of the RSVP form to create
          <a href="/static/results.html">a slideshow</a>
          giving some idea of the statistical makeup
          of the attendees of the wedding.
          Press the left and right arrow keys to
          switch between each slides!
        </p>
      </div>
    </div>
  </div>
</section>
